<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestNG Suite" parallel="methods" thread-count="1"> <!-- group-by-instances="true" preserve-order="true" -->
    <parameter name="browserName" value="chrome"/>
    <test name="Module">
        <classes name="Sub-Module">
            <class name="ravireddy07.com.github.testcases.learner.learner"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="ravireddy07.com.github.listeners.TestListener"/>
    </listeners>
</suite>